menu "Example Configuration"
    config LV_DPI_DEF
        string "Default Dots Per Inch (in px/inch)"
        default "300"

    config LV_DEF_REFR_PERIOD
        string "Default refresh period (ms)"
        default "30"

    config LV_MEM_SIZE_KILOBYTES
        string "Size of the memory used by `lv_malloc()` in kilobytes (>= 2kB)"
        default "300"

    config LV_FS_STDIO_LETTER
        string "Set an upper cased letter on which the drive will accessible (e.g. 65 for 'A')"
        default "65"

    # 外部解码图片缓冲空间设置大小为：宽度 × 高度 × 4
    config LV_CACHE_DEF_SIZE
        string "Default image cache size. 0 to disable caching"
        # # H0405S002T002-V0
        # default "2522880"
        # H0410S001AMT001-V0
        default "2799104"

    config EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
        bool "Enable MIPI CSI Camera Sensor"
        default y
        depends on SOC_MIPI_CSI_SUPPORTED

    if EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
        config EXAMPLE_MIPI_CSI_SCCB_I2C_PORT
            int "MIPI CSI SCCB I2C Port Number"
            default 1
            range 0 1

        config EXAMPLE_MIPI_CSI_SCCB_I2C_SCL_PIN
            int "MIPI CSI SCCB I2C SCL Pin"
            default 21
            range -1 56

        config EXAMPLE_MIPI_CSI_SCCB_I2C_SDA_PIN
            int "MIPI CSI SCCB I2C SDA Pin"
            default 20
            range -1 56

        config EXAMPLE_MIPI_CSI_SCCB_I2C_FREQ
            int "MIPI CSI SCCB I2C Frequency"
            default 100000
            range 50000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions of the camera sensor to adjust the value.

        config EXAMPLE_MIPI_CSI_CAM_SENSOR_RESET_PIN
            int "MIPI CSI Camera Sensor Reset Pin"
            default -1
            range -1 56

        config EXAMPLE_MIPI_CSI_CAM_SENSOR_PWDN_PIN
            int "MIPI CSI Camera Sensor Power Down Pin"
            default -1
            range -1 56
    endif

    config EXAMPLE_USE_MEMORY_MAPPING
        bool "Use Memory Mapping for Buffer Allocation"
        default n
        help
        Enable this option if you want to allocate memory using memory mapping.
        This is typically useful for performance optimization or when working
        with hardware that requires mapped memory access

    config EXAMPLE_CAM_BUF_COUNT
        int "Camera Buffer Count"
        default 2
        range 2 3

    choice
        prompt "Select the camera type"
        default CAMERA_TYPE_OV2710
            config CAMERA_TYPE_SC2336
                bool "SC2336"
            config CAMERA_TYPE_OV2710
                bool "OV2710"
            config CAMERA_TYPE_OV5645
                bool "OV5645"
    endchoice

    choice
        prompt "Select the screen type"
        default SCREEN_TYPE_HI8561
            config SCREEN_TYPE_HI8561
                bool "HI8561"
            config SCREEN_TYPE_RM69A10
                bool "RM69A10"
    endchoice

    choice
        prompt "Select the color format of the Screen"
        default SCREEN_PIXEL_FORMAT_RGB565
            config SCREEN_PIXEL_FORMAT_RGB565
                bool "RGB565"
            config SCREEN_PIXEL_FORMAT_RGB888
                bool "RGB888"
    endchoice

    choice BOARD_TYPE
        prompt "Board type"
        default BOARD_TYPE_T_DISPLAY_P4
        config BOARD_TYPE_T_DISPLAY_P4
            bool "t_display_p4"
        config BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            bool "t_display_p4_keyboard"
    endchoice

    choice
        prompt "Select the example to build"
        default EXAMPLE_BUILD_LVGL_9_UI
            config EXAMPLE_BUILD_AW86224
                bool "aw86224"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_BQ27220
                bool "bq27220"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_DEEP_SLEEP
                bool "deep_sleep"
                depends on BOARD_TYPE_T_DISPLAY_P4 || BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_ES8311
                bool "es8311"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_ES8311_SD_WAV
                bool "es8311_sd_wav"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_ESP32C6_AT_HOST_SDIO_UART
                bool "esp32c6_at_host_sdio_uart"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_ESP32C6_AT_HOST_SDIO_WIFI
                bool "esp32c6_at_host_sdio_wifi"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SCREEN_CAMERA
                bool "screen_camera"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SCREEN_LVGL
                bool "screen_lvgl"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SCREEN_LVGL_TOUCH_DRAW
                bool "screen_lvgl_touch_draw"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_ICM20948
                bool "icm20948"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_IIC_SCAN
                bool "iic_scan"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_L76K
                bool "l76k"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_LVGL_9_UI
                bool "lvgl_9_ui"
                depends on BOARD_TYPE_T_DISPLAY_P4 || BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_PCF8563
                bool "pcf8563"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SGM38121
                bool "sgm38121"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SX1262_GFSK_SEND_RECEIVE
                bool "sx1262_gfsk_send_receive"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SX1262_LORA_SEND_RECEIVE
                bool "sx1262_lora_send_receive"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_SX1262_TX_CONTINUOUS_WAVE
                bool "sx1262_tx_continuous_wave"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_TUSB_SERIAL_DEVICE
                bool "tusb_serial_device"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_XL9535
                bool "xl9535"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_AFE
                bool "afe"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_RADIOLIB_SX1262_SEND_RECEIVE
                bool "radiolib_sx1262_send_receive"
                depends on BOARD_TYPE_T_DISPLAY_P4
            config EXAMPLE_BUILD_XL9555
                bool "xl9555"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_TCA8418
                bool "tca8418"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_RADIOLIB_CC1101_SEND_RECEIVE
                bool "radiolib_cc1101_send_receive"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_RADIOLIB_NRF24L01_SEND_RECEIVE
                bool "radiolib_nrf24l01_send_receive"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_ST25R3916
                bool "st25r3916"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
            config EXAMPLE_BUILD_SCREEN_TCA8418_LVGL_TOUCH_DRAW
                bool "screen_tca8418_lvgl_touch_draw"
                depends on BOARD_TYPE_T_DISPLAY_P4_KEYBOARD
    endchoice

endmenu
